<nav class="navbar">
    <a href="/" class="logo">StageForMe</a>
    
    <div class="nav-links">
        <ul>
            <li class="{{ app.request.uri  == '/' ? 'active' }}">
                <a href="/">Accueil</a>
            </li>
            <li class="{{ app.request.uri == '/recherche' ? 'active' }}">
                <a href="/recherche">Recherche</a>
            </li>
            <li class="{{ app.request.uri == '/legal' ? 'active' }}">
                <a href="/legal">Mentions légales</a>
            </li>
            <li>
                <a href="/login">Connexion</a>
            </li>
        </ul>
    </div>
    
    <img src="../../assets/images/menu-btn.png" alt="menu hamburger" class="menu-hamburger">
</nav>