<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
    <a href="/" class="back-button" title="Retour accueil">
        <img src="../../assets/images/back-arrow.png" alt="Retour">
    </a>

</body>
</html>