{% block affichage %}
    <div class="card-info">
        <div class="card-info title">
            <span>CPIA1</span>
        </div>
        <div class="stat">
            <div class="stat-icon blue">
                <img src="assets/images/up-arrow.png" alt="up arrow">
            </div>
            <div>
            <div class="stat-value">1,234</div>
                <div class="stat-label">+8.2% le mois dernier</div>
            </div>
        </div>
        <div class="chart-container">
            <div class="chart-placeholder">
                <div class="bars">
                    <div class="bar b1"></div>
                    <div class="bar b2"></div>
                    <div class="bar b3"></div>
                    <div class="bar b4"></div>
                    <div class="bar b5"></div>
                    <div class="bar b6"></div>
                    <div class="bar b7"></div>
                    <div class="bar b8"></div>
                </div>
             </div>
        </div>
        <div class="stats-bottom">

            <div class="mini-stat">
                <div class="mini-value green">+253</div>
                <div class="mini-label">Nouveaux</div>
            </div>
                    
            <div class="mini-stat">
                <div class="mini-value blue">472</div>
                <div class="mini-label">Actifs</div>
            </div>
                    
            <div class="mini-stat">
                <div class="mini-value red">32k €</div>
                <div class="mini-label">Total</div>
            </div>
                    
        </div>
    </div>
    <div class="card-info">
        <div class="card-info title">
            <span>CPIA2 Info</span>
        </div>
        <div class="stat">
            <div class="stat-icon red">
                <img src="assets/images/up-arrow.png" alt="up arrow">
            </div>
            <div>
                <div class="stat-value">1,234</div>
                <div class="stat-label">+8.2% le mois dernier</div>
            </div>
        </div>
        <div class="chart-container">
            <div class="chart-placeholder">
                <div class="bars">
                    <div class="bar b1"></div>
                    <div class="bar b2"></div>
                    <div class="bar b3"></div>
                    <div class="bar b4"></div>
                    <div class="bar b5"></div>
                    <div class="bar b6"></div>
                    <div class="bar b7"></div>
                    <div class="bar b8"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}