<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../../assets/css/style.css">
</head>
<body>
    <a href="/" class="back-button" title="Retour accueil">
        <img src="../../assets/images/back-arrow.png" alt="Retour">
    </a>
    <main id="main">
        <section class="board-head">
            <h1>Dashboard</h1>
            <p class="muted">conçu pour simplifier votre expérience.</p>
            </section>
            <section class="board-head">
                <h1>Dashboard</h1>
                <p class="muted">conçu pour simplifier votre expérience.</p>
                </section>
                <section class="card side-board form-card" aria-label="Formulaire de création de compte">
                <a href="/dashboard?type=1"><div class="nav-links">
                    <img src="../../assets/images/stats-icon.png" alt="dashboard icon" class="stats-icon">
                </div></a>
                <a href="/dashboard?type=2"><div class="nav-links">
                    <img src="../../assets/images/profile-icon.png" alt="dashboard icon" class="profile-icon">
                </div></a>
                <a href="/dashboard?type=3"><div class="nav-links">
                    <img src="../../assets/images/gestion-icon.png" alt="dashboard icon" class="stats-icon">
                </div></a>
                <a href="/logout"><div class="nav-links">
                          <span>Log-Out </span>
                        </div></a>
                </section>
            <section class="card board form-card scroll">
            {% if type == 1 %}
                {% if role=="ADMIN" %}
                    {% include "DashStatsADMIN.html.twig" with{'role':role,"NbUsers":NbUsers,"NbPosts":NbPosts,"NbEntreprises":NbEntreprises} %}
                {% endif %}
                {% if role=="PILOTE" %}
                    {% include "DashStatsPILOTE.html.twig" with{'role':role,"StudentByPost":StudentByPost} %}
                {% endif %}
                {% if role=="ETUDIANT" %}
                    {% include "DashStatsETUDIANT.html.twig" with{'role':role,"NbWishes":NbWishes} %}
                {% endif %}
            {% endif %}
            {% if type == 2 %}
                {% include "DashProfile.html.twig" with{"compte":compte} %}
            {% endif %}
            {% if type == 3 %}
                {% include "DashGestion.html.twig" with{} %}
            {% endif %}
        </section>
    </main>
<script src="assets/js/menu.js"></script>
</body>
</html>