{% block affichage %}
    <div class="card-info">
    <div class="card-info title">
        <span>Nombre de Wishlist:</span>
    </div>
    <div class="stat">
        <div class="stat-icon red">
            <img src="assets/images/up-arrow.png" alt="up arrow">
        </div>
        <div>
            <div class="stat-value">{{ NbWishes }}</div>
            <div class="stat-label"></div>
        </div>
    </div>

{% endblock %}