{% block affichage %}
            <div class="gestion-box">
                <div class="tag-container">
                    <span class="tag">Gestion des étudiants</span>
                </div>
                
                <p class="description">Créez et suivez facilement les comptes étudiants pour une gestion simplifiée et efficace.</p>
                
                <div class="button-group">
                    <a href="admin-create-user.html" class="btn-primary">Créer un étudiant</a>
                    
                    <a href="recherche-entreprise.html" class="btn-primary">Liste des étudiants</a>
                </div>
            </div>
            <div class="gestion-box">
                <div class="tag-container">
                    <span class="tag">Gestion des offres</span>
                </div>
                
                <p class="description">Créez et suivez facilement les offres pour une gestion optimale et organisée.</p>
                
                <div class="button-group">
                    <button type="submit" class="btn btn-primary">Créer une offre</button>
                    <button type="submit" class="btn-primary">Liste des offres</button>
                </div>
            </div>
            <div class="gestion-box">
                <div class="tag-container">
                    <span class="tag">Gestion des entreprises</span>
                </div>
                
                <p class="description">Gérez et suivez facilement les entreprises pour une administration simplifiée et performante.</p>
                
                <div class="button-group">
                    <button type="submit" class="btn btn-primary">Créer une entreprise</button>
                    <button type="submit" class="btn-primary">Liste des entreprises</button>
                </div>
            </div>
{% endblock %}