<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error {{ error }}</title>
</head>
<body>
{% include 'base.html.twig' with{"path":""} %}

<h1> erreur : {{ error }} </h1>
</body>
</html>