<nav class="nav_barre" aria-label="pagination">
    <ul class="pagination">
        <li class="ad">
            <a class="pagination_padding" href="index.html">
                <span aria-hidden="true">&laquo;</span>
                <span class="visuallyhidden">ensemble de pages précédentes</span>
            </a>
        </li>


        <li class="ad">
            <a class="pagination_padding" href="index.html">
                <span class="visuallyhidden">page </span>1
            </a>
        </li>
        <li class="ad">
            <a class="pagination_padding" href="index.html">
                <span class="visuallyhidden">page </span>2
            </a>
        </li>
        <li class="ad">
            <a class="pagination_padding" href="index.html">
                <span class="visuallyhidden">page </span>3
            </a>
        </li>
        <li class="ad">
            <a class="pagination_padding" href="index.html">
                <span class="visuallyhidden">page </span>4
            </a>
        </li>
        <li class="ad">
            <a class="pagination_padding" href="index.html">
        <span class="visuallyhidden">ensemble de pages suivantes</span
        ><span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
