<nav class="nav_barre" aria-label="pagination">
    <ul class="pagination">
        <li class="ad">
            <a class="pagination_padding" href="../../index.php?uri=recherche&?page=1">
                <span aria-hidden="true">&laquo;</span>
                <span class="visuallyhidden">ensemble de pages précédentes</span>
            </a>
        </li>

        <li class="ad">
            {% set previous_page = (page - 1 > 1) ? (page - 1) : 1 %}
            <a class="pagination_padding" href='../../index.php?uri=recherche&page={{ previous_page }}'>
                <span class="visuallyhidden">page précédente </span><
            </a>
        </li>
        <li class="ad">
            <a class="pagination_padding" href="index.html">
                <span class="visuallyhidden">page </span>2
            </a>
        </li>
        <li class="ad">
            <a class="pagination_padding" href="index.html">
                <span class="visuallyhidden">page </span>3
            </a>
        </li>
        <li class="ad">
            <a class="pagination_padding" href="index.html">
                <span class="visuallyhidden">page </span>4
            </a>
        </li>
        <li class="ad">
            <a class="pagination_padding" href="index.html">
        <span class="visuallyhidden">ensemble de pages suivantes</span
        ><span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
