<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<article>
    <center><h2 >Postuler :</h2></center>
    <form class="" id="postform" method="post" enctype="multipart/form-data" >
        <label  >adresse email <br><input class="" name="email" type="email" value="" size="50" required
                                          placeholder="JhonDoe@gmail.com" ></label>
        <br><br>
        <label>descrytpion courte (max:144)<br><textarea rows="6" cols="50" class="" name="description"
                                                         maxlength="144"  placeholder="" ></textarea></label>
        <br><br>
        <div class="">
            <div class="">
                <label>CV: <br>  <input id="postfile" maxlength="2" type="file" accept="application/pdf" name="CV" required>
                </label>
            </div>
        </div>
        <br><br>
        <div >
            <button id="topost" class="" type="submit">Postuler</button>
        </div>
    </form>

</article>

</body>
</html>