<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Postulation</title>
</head>
<body>

<article>
    <center><h2 >Postuler :</h2></center>
    <form class="" id="postform" method="post" enctype="multipart/form-data" >
        <label>Lettre de motivation (max:144)<br><textarea rows="6" cols="50" class="" name="LM"
                                                         maxlength="144"  placeholder="" required ></textarea></label>
        <br><br>
        <div class="">
            <div class="">
                <label>CV: <br>  <input id="postfile" maxlength="2" type="file" accept="application/pdf" name="CV" required>
                </label>
            </div>
        </div>
        <br><br>
        <div >
            <button id="topost" class="" type="submit">Postuler</button>
        </div>
    </form>

</article>

</body>
</html>