{% block affichage %}
        <a href="#" class="gestion-box offer-card">
            <div class="tag-container">
                <span class="tag">📍 Paris</span>
            </div>
            <div class="content-mid">
                <h3>Développeur Front-end</h3>
                <p class="description">Rejoignez notre équipe pour travailler sur des interfaces modernes en React.</p>
            </div>
        </a>
{% endblock %}
