{% block affichage %}
    {% for post in contenant  %}
        <a href="/recherche/fiche?id_cible={{ post.id }}&page=1&type=3" class="gestion-box offer-card">
            <div class="tag-container">
                <span class="tag">📍 {{ post.ville }}</span>
            </div>
            <div class="content-mid">
                <h3>{{ post.titre }}</h3>
                <p class="description">{{ post.description }}</p>
            </div>
        </a>
    {% endfor %}
{% endblock %}