

<html lang="en">

<body>
{# {% extends "base.html.twig" %} #}
<link rel="stylesheet" href="../../assets/css/recherche.css">
<link rel="stylesheet" href="../../assets/css/style.css">
{% block body %}
<div class="liquid-form-center">

    <div class="liquid_box">
        <div class="margin_div">
            <form class="form-center" action="?= strtok($_SERVER['REQUEST_URI'], '?') ?>" method="get">
                <label>
                    <input type="search" id="Recherche" name="recherche" placeholder="Recherchez ici !" class="liquid_box_mini">
                    <input type="submit" id="Recherche_btn" value="Rechercher" class="liquid_box_mini">
                </label>

            <br>


                    <div class="conteneur">
                        {% if type==1 %}
                            <label class="liquid_box_mini" ><input type="radio" id="etudiants" name="type" value=1 checked  > Comptes</label>
                            <label class="liquid_box_mini" ><input type="radio" id="entreprises" name="type" value=2   > Fiches entreprises</label>
                            <label class="liquid_box_mini" ><input type="radio" id="offres" name="type" value=3   > Offres</label>
                        {% endif %}
                        {% if type==2 %}
                            <label class="liquid_box_mini" ><input type="radio" id="etudiants" name="type" value=1   > Comptes</label>
                            <label class="liquid_box_mini" ><input type="radio" id="entreprises" name="type" value=2 checked  > Fiches entreprises</label>
                            <label class="liquid_box_mini" ><input type="radio" id="offres" name="type" value=3   > Offres</label>
                        {% endif %}
                        {% if type==3 %}
                            <label class="liquid_box_mini" ><input type="radio" id="etudiants" name="type" value=1   > Comptes</label>
                            <label class="liquid_box_mini" ><input type="radio" id="entreprises" name="type" value=2   > Fiches entreprises</label>
                            <label class="liquid_box_mini" ><input type="radio" id="offres" name="type" value=3  checked > Offres</label>
                        {% endif %}

                        </div>
                </form>



        </div>
        <div class="conteneur_offres" >
            {% if res is null %}
                <br> <br> <br>
                <p style="font-size: 20px"> OOPS il n'y a pas grand chose ici...</p>
                <br> <br>  <br>
            {% endif %}
            <div id="affichage_posts" class="conteneurgrid">
                {% if (type==2) %}
                    {% include 'Entreprises.html.twig' with {'contenant':contenant} %}
                {% endif %}
                {% if (type==3) %}
                    {% include 'Posts.html.twig' with {'contenant':contenant} %}
                {% endif %}
            </div>

        </div>
        <script src="../../assets/js/recherche.js"></script>
        {% include 'Pagination.html.twig' with {'totalPages':totalPages , 'path':path,'page':page} %}
    </div>



</div>

{% endblock %}
</body>
</html>