<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html lang="fr">

<head>
    <link rel="stylesheet" href="../../assets/css/style.css">
    <meta charset="UTF-8">
    <title>Accueil</title>
</head>

<body>
{% include 'base.html.twig' with{"path":path} %}
<main>
    <section class="side-text">
        <h1>Trouvez votre stage ou votre alternance plus facilement</h1>
        <H2>StageForMe centralise les offres, les entreprises, les profils étudiants et le suivi des candidatures dans une seule plateforme.</H2>
    </section>
    <section class="stats">
        <div class="title">
            <h1>Nos statistiques</h1>
        </div>
        <div class="card form-card">
            {% include 'Recentpost.html.twig' with{"path":path,"contenant":contenant} %}
        </div>
    </section>
</main>
</body>
</html>